*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(63, 61, 61);
    z-index: 900;
    font-size: 13px;
    gap: 30%;
}

header button{
    background-color: red;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    border-color: none;
}

.logo{
    cursor: pointer;
    margin-left: 2%;
    width: 70px;
    height: 70px;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  margin-top: 8%;
  padding: 0 5%;
}

.intro .texto {
  flex: 1;
}

.intro h1 {
  font-size: 45px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.intro p {
  font-size: 16px;
  color: rgb(150, 153, 153);
  font-family: 'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.intro button {
  background-color: rgb(185, 14, 14);
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.intro button:hover {
  background-color: rgb(115, 25, 25);
}

.intro img {
  flex: 1;
  width: 100%;
  height: auto;
  max-width: 650px;
  border: 2px solid rgb(145, 10, 10);
  border-radius: 30px;
  padding: 2px;
  margin-right: 5%;
}

hr{
    margin-top: 70px;
    width: 93%;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    text-align: center;
  }

  .intro img {
    max-width: 90%;
    margin-top: 20px;
    margin-right: 0%;
  }
}
